/* Typography */

html {
	font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

.icons-social i {
	font-size: 3em;
}

/* Custom Styles */

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
}

header {
	display: flex;
	flex-direction: column;
	max-height: 20vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
	background-color: #485564;
}

.lang {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 1em;
	font-weight: 600;
	padding-top: 30px;
}

.lang > a { 
	padding: 10px;
	text-decoration: none;
	color: #fff;
}

main > .intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3.75em;
	font-weight: 600;
}

main > .tagline {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
}

.icons-social i {
	padding: 10px;
}

.devto {
	margin-bottom: -0.20rem;
}

.devto svg {
	margin-bottom: -0.20rem;
	margin-left: 0.675rem;;
	width: 2.65rem;
	height: 2.65rem;
}

.projects-list {
	display: block;
    justify-content: center;
    text-align: center;
	margin: 30px 0px;
}

.projects-list > a {
	padding: 0px 10px;
	cursor: pointer;
}

.projects-list  > a:hover,
.lang > a:hover,
.selected {
	background-color: #fff;
	color: #485564;
}

.projects-list > a {
	text-decoration: none;
	color: #fff;
}

.divider {
	width: 75%;
}

.projects-list > a:hover + .info-wrapper > .additional-info {
	display: inline-block;
}

.info-wrapper {
	position: absolute;
	display: inline-block;
	padding-top: 15px;
}

.additional-info {
	padding: 10px;
	/* display: none; */
	border: 2px solid #fff;
	border-radius: 5px;
	text-align: left;
}